@import url("font.css");
@import url("null.css");
@import url("components.css");

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  min-height: 100%;
  color: var(--white);
  background-color: var(--primary-BG);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Обрізає вміст, який виходить за межі елемента, без відображення смуг прокрутки. Це схоже на overflow: hidden;, але без можливості прокрутки. */
  overflow: clip;
}
/* .wrapper > header {
    flex: 1 1 auto;
} */
/* властивість flex-row розтягує main завжди на всю висоту вьюпрту, тим самим притискає footer донизу екрану */
.wrapper > main {
  flex: 1 1 auto;
}
/* селектор атрибуту класу */
[class*="__container"] {
  /* розширили обмеж контейнер на величину паддінгів зліва та справа */
  max-inline-size: 1310px;
  padding-inline: 15px;
  margin-inline: auto;
}

:root {
  --font-family: "Roboto", sans-serif;
  --primary-BG: #0f172a;
  --second-BG: #9333ea;
  --white: #fff;
  --Purple-600: #9333ea;
  --Purple-400: ##c084fc;
}

/* HEADER  ======================================================================== */

.header__page {
  padding-block: 24px;
  margin-block-end: 80px;
}
.header__container {
}
.header__body {
  display: flex;
  column-gap: 46px;
  /* justify-content: space-between; */
  justify-content: space-between;
  align-items: center;
  max-inline-size: 1000px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.05);
  /* Shadow/Dark/XXL */
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25),
    0px 0px 15px 0px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding-inline: 24px;
  padding-block: 24px;
}

.header__logo-link {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  transition: 0.3s all ease;
  flex: 1 1 auto;
}
.header__logo-link:hover {
  color: #4e1187;
}

/* flex-grow розтягує меню на всю шир headr_body */
.header__menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  column-gap: 32px;
  row-gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-close {
  display: none;
}
@media screen and (max-width: 798.98px) {
  .menu {
    position: fixed;
    z-index: 22;
    inset-block-start: 0px;
    inset-inline-start: -100%;
    block-size: 100%;
    inline-size: 100%;
    transition: inset-inline-start 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 20px;
    opacity: 1;
    background-color: #4e1187;
    padding-inline-end: 30px;
    padding-block-start: 30px;
    overflow: auto;
  }
  .menu .menu__list {
    display: flex;
    flex-direction: column;
  }

  .menu__link {
    font-size: 36px;
  }
  .open-menu .menu {
    inset-inline-start: 0%;
  }
  .close-menu .menu {
    inset-inline-start: -100%;
  }
  .menu-close {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 50px;
    block-size: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 798.98px) {
  .icon-menu {
    display: none;
  }
}

.menu__link {
  font-style: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  transition: 0.3s all ease;
}
.menu__link:hover {
  color: #4e1187;
}

.header__actions {
  display: flex;
  column-gap: 16px;
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.menu__actions {
  display: none;
}
@media screen and (max-width: 469px) {
  .header__actions {
    display: none;
  }
  .menu__actions {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .actions-menu__button {
  }
}

.actions-header {
}
.actions-header__button {
}

@media screen and (max-width: 991.98px) {
  .header__page {
    padding-block: 16px;
  }
  .header__body {
    column-gap: 32px;
  }
  .menu__list {
    column-gap: 24px;
  }
  .header__actions {
    column-gap: 10px;
  }
  .button--mini {
    padding-inline: 18px;
    padding-block: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__page {
    padding-block: 16px;
  }
  .header__body {
    column-gap: 32px;
  }
}

/* .actions-header__button:not(:last-child) {
  margin-inline-end: 16px;
} */

/* section HERO ======================================================== */

.hero__page {
  margin-block-end: 80px;
}
.hero {
}
.hero__container {
}

/* @media screen and (max-width: 361px) {
  .block-header__title {
    font-size: 56px;
  }
} */

.block-header__title-purple {
  color: var(--Purple-600);
}

.block-header__title-bottom-line {
  position: relative;
}
.block-header__title-bottom-line::after {
  content: "";
  position: absolute;
  inset-inline-start: 8px;
  inset-block-end: 0;
  border: 4px solid #c084fc;
  inline-size: 190px;
}

.block-header__title-top-line {
  position: relative;
  z-index: 1;
}
.block-header__title-top-line::after {
  content: "";
  position: absolute;
  z-index: -11;
  inset-inline-start: 10px;
  inset-block-start: 10px;
  border: 4px solid #c084fc;
  inline-size: 196px;
}
@media screen and (max-width: 361px) {
  .block-header__title {
    font-size: 56px;
  }
}
.block-header__text {
  color: var(--White);
  text-align: center;
  max-inline-size: 780px;
  margin-inline: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

@media screen and (max-width: 361px) {
  .block-header__title-bottom-line::after {
    display: none;
  }
  .block-header__title-top-line::after {
    inline-size: 138px;
    inset-inline-start: 24px;
  }
  .block-header__text {
    font-size: 16px;
  }
}
.block-header__actions {
  display: flex;
  column-gap: 16px;
  justify-content: center;
}
.block-header__button {
}

.button--transparent {
}
/* .hero__decor {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.hero__top {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}
.hero__bottom {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.hero__image {
  display: block;
  margin: 0 auto;
}
